<!-- As a heading -->


<nav class="navbar navbar-expand-lg navbar-light bg-light" style="margin-bottom: 30px;">
  <img style="margin-left: 10px;" class="navbar-brand mb-0 h1" src="../../../../assets/images/logo.png" alt="...">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">

    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <span class="navbar-brand mb-0 h1"><a routerLink="/mes-recettes">Mes recettes</a></span>
      </li>
      <li class="nav-item">
        <span class="navbar-brand mb-0 h1"><a routerLink="/mes-recettes/new">Ajouter une recette</a></span>
      </li>
      <li class="nav-item">
        <span class="navbar-brand mb-0 h1"><a routerLink="/mes-recettes">Découvrir</a></span>
      </li>
      <li class="nav-item">
        <span class="navbar-brand mb-0 h1"><a routerLink="/mes-recettes">Favoris</a></span>
      </li>
      <li class="nav-item">
        <span class="navbar-brand mb-0 h1"><a routerLink="/mes-recettes">Connexion / Inscription</a></span>
      </li>
    </ul>
  </div>
</nav>
<!-- <nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <img style="margin-left: 100px;" class="navbar-brand mb-0 h1" src="../../../../assets/images/logo.png" alt="...">
    <div style="margin-right: 150px;">
      <span class="navbar-brand mb-0 h1"><a routerLink="/mes-recettes">Mes recettes</a></span>
      <span class="navbar-brand mb-0 h1"><a routerLink="/mes-recettes/new">Ajouter une recette</a></span>
      <span class="navbar-brand mb-0 h1"><a routerLink="/mes-recettes">Découvrir</a></span>
      <span class="navbar-brand mb-0 h1"><a routerLink="/mes-recettes">Favoris</a></span>
      <span class="navbar-brand mb-0 h1"><a routerLink="/mes-recettes">Compte</a></span>


    </div>
  </div>
</nav> -->