.ing-btn {
    background-color: lightblue;
    color: white;
    padding-top: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 10px;
}

.flex-content {
    display: flex;
    flex-wrap: wrap;
}