<mat-card width="50%">
    <h2 mat-dialog-title>Supprimer la recette</h2>
    <mat-dialog-content>Pour supprimer la recette entrez "supprimer"</mat-dialog-content>
    <mat-form-field appearance="fill">
        <input matInput type="text">
    </mat-form-field>
    <mat-dialog-actions>
        <button mat-button mat-dialog-close mat-dialog-close="true">Revenir en arrière</button>
        <button mat-button mat-dialog-close mat-dialog-close="false">Supprimer</button>
    </mat-dialog-actions>
</mat-card>