<h2 mat-dialog-title>Supprimer la recette</h2>
<mat-dialog-content>Pour supprimer la recette entrez "SUPPRIMER"</mat-dialog-content>
<!--div [formGroup]="formSupp" class="main-form">
        <mat-form-field appearance="fill">
            <input matInput type="text" formControlName="suppWord" >
        </mat-form-field>
    </div-->
<mat-form-field appearance="fill">
    <input matInput id="suppWord" type="text" [formControl]="suppWord">
</mat-form-field>

<mat-dialog-actions>
    <button class="global-btn-info" style="margin-bottom: 10px" mat-button mat-dialog-close
        mat-dialog-close="false">Revenir en arrière</button>

    <button [disabled]="suppWord.value == null  || suppWord.value !== 'SUPPRIMER'" type="submit" mat-button class="global-btn" mat-dialog-close
        mat-dialog-close="true">Supprimer</button>

        <!-- [disabled]="suppWord.value != '' && suppWord.value !== 'SUPPRIMER' " -->
        <!-- *ngIf="suppWord.value.length > 5  && suppWord.value !== 'SUPPRIMER' " -->
        
</mat-dialog-actions>
<mat-error *ngIf="suppWord.value !== null && suppWord.value !== 'SUPPRIMER'">Le mot ne correspond pas ou n'est
    pas en majuscule</mat-error>