<mat-card class="example-card">
    <img (click)="onContinue(recipe._id)" class="card-img-class" mat-card-image *ngIf="recipe.imageUrl as imageUrl"
        [src]="imageUrl" [alt]="recipe.title">
    <mat-card-title>{{ recipe.title | titlecase }}</mat-card-title>
    <mat-card-subtitle><span>{{ recipe.createdDate | timeAgo }}</span></mat-card-subtitle>
    <mat-card-content>{{ recipe.description | shorten:250 }}</mat-card-content>
    
    <!--mat-card-content>
        <div *ngFor="let step of recipe.steps">{{ step }}</div>
    </mat-card-content-->
    <!--mat-card-content *ngFor="let ing of recipe.ingredients">
        {{ ing[0] }} {{ ing[1] }}
    </mat-card-content-->
    
    <mat-card-actions>
        <button class="global-btn" mat-button>Favoris</button>
        <!--mat-icon>query_builder</mat-icon-->
        <button mat-button class="global-btn-info"><img class="img-icon" src="../../../../assets/images/baking.png"
                alt="Cook Time">{{
            recipe.prepTime + " min"}}</button>
        <button mat-button class="global-btn-info"><img class="img-icon" src="../../../../assets/images/cooking.png"
                alt="Prep Time">{{
            recipe.cookTime + " min"}}</button>

    </mat-card-actions>
</mat-card>