/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
  
}

body {
    margin: 0;
    font-family: "Montserrat", Roboto, "Helvetica Neue", sans-serif;
    margin: 0;
    font-family: "Montserrat" ,Roboto, "Helvetica Neue", sans-serif;
    /*
    background-image: url('./assets/images/winston.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    */
    background-color: #403d3a;
}

a {
    color: black!important;
    text-decoration: none!important;
    font-weight: normal;
    &:hover {
      text-decoration: underline;
    }
  }
  .global-btn{
    background-color: #ff2172;
    color: rgb(255, 255, 255);
    margin-bottom: 10px!important;
  }
  .global-btn-yellow{
    background-color: #ffff94;
    color: black;
    margin-bottom: 10px!important;
  }

  .global-btn-info{
    background-color: #e5ffe5;
    color: black;
    margin-bottom: 10px!important;
  }

  .global-btn-orange{
    background-color: #ffd34d;
    color: black;
    margin-bottom: 10px!important;
    
  }
  
/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

@font-face {
  font-family: "Montserrat";
  src: local("Monserrat"), url(./assets/fonts/Montserrat/Montserrat-VariableFont_wght.ttf) format("truetype");
}
